{
  "swagger" : "2.0",
  "info" : {
    "version" : "1.0",
    "title" : "test_200ResourcesRestAPI"
  },
  "host" : "cscdemo.private.int-aws-us.webmethods.io",
  "basePath" : "/integration/private/restv2/development/fla83b78f5a9c79e7b259715/test_200ResourcesRestAPI",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/add1" : {
      "post" : {
        "operationId" : "add1_POST_1",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add1_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add2" : {
      "post" : {
        "operationId" : "add2_POST_2",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add2_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add3" : {
      "post" : {
        "operationId" : "add3_POST_3",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add3_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add4" : {
      "post" : {
        "operationId" : "add4_POST_4",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add4_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add5" : {
      "post" : {
        "operationId" : "add5_POST_5",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add5_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add6" : {
      "post" : {
        "operationId" : "add6_POST_6",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add6_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add7" : {
      "post" : {
        "operationId" : "add7_POST_7",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add7_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add8" : {
      "post" : {
        "operationId" : "add8_POST_8",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add8_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add9" : {
      "post" : {
        "operationId" : "add9_POST_9",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add9_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add10" : {
      "post" : {
        "operationId" : "add10_POST_10",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add10_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add11" : {
      "post" : {
        "operationId" : "add11_POST_11",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add11_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add12" : {
      "post" : {
        "operationId" : "add12_POST_12",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add12_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add13" : {
      "post" : {
        "operationId" : "add13_POST_13",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add13_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add14" : {
      "post" : {
        "operationId" : "add14_POST_14",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add14_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add15" : {
      "post" : {
        "operationId" : "add15_POST_15",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add15_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add16" : {
      "post" : {
        "operationId" : "add16_POST_16",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add16_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add17" : {
      "post" : {
        "operationId" : "add17_POST_17",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add17_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add18" : {
      "post" : {
        "operationId" : "add18_POST_18",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add18_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add19" : {
      "post" : {
        "operationId" : "add19_POST_19",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add19_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add20" : {
      "post" : {
        "operationId" : "add20_POST_20",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add20_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add21" : {
      "post" : {
        "operationId" : "add21_POST_21",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add21_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add22" : {
      "post" : {
        "operationId" : "add22_POST_22",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add22_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add23" : {
      "post" : {
        "operationId" : "add23_POST_23",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add23_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add24" : {
      "post" : {
        "operationId" : "add24_POST_24",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add24_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add25" : {
      "post" : {
        "operationId" : "add25_POST_25",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add25_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add26" : {
      "post" : {
        "operationId" : "add26_POST_26",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add26_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add27" : {
      "post" : {
        "operationId" : "add27_POST_27",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add27_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add28" : {
      "post" : {
        "operationId" : "add28_POST_28",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add28_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add29" : {
      "post" : {
        "operationId" : "add29_POST_29",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add29_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add30" : {
      "post" : {
        "operationId" : "add30_POST_30",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add30_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add31" : {
      "post" : {
        "operationId" : "add31_POST_31",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add31_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add32" : {
      "post" : {
        "operationId" : "add32_POST_32",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add32_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add33" : {
      "post" : {
        "operationId" : "add33_POST_33",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add33_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add34" : {
      "post" : {
        "operationId" : "add34_POST_34",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add34_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add35" : {
      "post" : {
        "operationId" : "add35_POST_35",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add35_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add36" : {
      "post" : {
        "operationId" : "add36_POST_36",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add36_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add37" : {
      "post" : {
        "operationId" : "add37_POST_37",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add37_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add38" : {
      "post" : {
        "operationId" : "add38_POST_38",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add38_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add39" : {
      "post" : {
        "operationId" : "add39_POST_39",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add39_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add40" : {
      "post" : {
        "operationId" : "add40_POST_40",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add40_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add41" : {
      "post" : {
        "operationId" : "add41_POST_41",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add41_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add42" : {
      "post" : {
        "operationId" : "add42_POST_42",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add42_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add43" : {
      "post" : {
        "operationId" : "add43_POST_43",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add43_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add44" : {
      "post" : {
        "operationId" : "add44_POST_44",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add44_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add45" : {
      "post" : {
        "operationId" : "add45_POST_45",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add45_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add46" : {
      "post" : {
        "operationId" : "add46_POST_46",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add46_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add47" : {
      "post" : {
        "operationId" : "add47_POST_47",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add47_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add48" : {
      "post" : {
        "operationId" : "add48_POST_48",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add48_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add49" : {
      "post" : {
        "operationId" : "add49_POST_49",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add49_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add50" : {
      "post" : {
        "operationId" : "add50_POST_50",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add50_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add51" : {
      "post" : {
        "operationId" : "add51_POST_51",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add51_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add52" : {
      "post" : {
        "operationId" : "add52_POST_52",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add52_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add53" : {
      "post" : {
        "operationId" : "add53_POST_53",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add53_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add54" : {
      "post" : {
        "operationId" : "add54_POST_54",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add54_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add55" : {
      "post" : {
        "operationId" : "add55_POST_55",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add55_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add56" : {
      "post" : {
        "operationId" : "add56_POST_56",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add56_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add57" : {
      "post" : {
        "operationId" : "add57_POST_57",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add57_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add58" : {
      "post" : {
        "operationId" : "add58_POST_58",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add58_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add59" : {
      "post" : {
        "operationId" : "add59_POST_59",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add59_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add60" : {
      "post" : {
        "operationId" : "add60_POST_60",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add60_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add61" : {
      "post" : {
        "operationId" : "add61_POST_61",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add61_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add62" : {
      "post" : {
        "operationId" : "add62_POST_62",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add62_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add63" : {
      "post" : {
        "operationId" : "add63_POST_63",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add63_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add64" : {
      "post" : {
        "operationId" : "add64_POST_64",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add64_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add65" : {
      "post" : {
        "operationId" : "add65_POST_65",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add65_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add66" : {
      "post" : {
        "operationId" : "add66_POST_66",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add66_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add67" : {
      "post" : {
        "operationId" : "add67_POST_67",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add67_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add68" : {
      "post" : {
        "operationId" : "add68_POST_68",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add68_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add69" : {
      "post" : {
        "operationId" : "add69_POST_69",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add69_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/add70" : {
      "post" : {
        "operationId" : "add70_POST_70",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/add70_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul1" : {
      "post" : {
        "operationId" : "mul1_POST_71",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul1_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul2" : {
      "post" : {
        "operationId" : "mul2_POST_72",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul2_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul3" : {
      "post" : {
        "operationId" : "mul3_POST_73",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul3_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul4" : {
      "post" : {
        "operationId" : "mul4_POST_74",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul4_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul5" : {
      "post" : {
        "operationId" : "mul5_POST_75",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul5_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul6" : {
      "post" : {
        "operationId" : "mul6_POST_76",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul6_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul7" : {
      "post" : {
        "operationId" : "mul7_POST_77",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul7_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul8" : {
      "post" : {
        "operationId" : "mul8_POST_78",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul8_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul9" : {
      "post" : {
        "operationId" : "mul9_POST_79",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul9_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul10" : {
      "post" : {
        "operationId" : "mul10_POST_80",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul10_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul11" : {
      "post" : {
        "operationId" : "mul11_POST_81",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul11_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul12" : {
      "post" : {
        "operationId" : "mul12_POST_82",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul12_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul13" : {
      "post" : {
        "operationId" : "mul13_POST_83",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul13_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul14" : {
      "post" : {
        "operationId" : "mul14_POST_84",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul14_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul15" : {
      "post" : {
        "operationId" : "mul15_POST_85",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul15_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul16" : {
      "post" : {
        "operationId" : "mul16_POST_86",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul16_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul17" : {
      "post" : {
        "operationId" : "mul17_POST_87",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul17_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul18" : {
      "post" : {
        "operationId" : "mul18_POST_88",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul18_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul19" : {
      "post" : {
        "operationId" : "mul19_POST_89",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul19_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul20" : {
      "post" : {
        "operationId" : "mul20_POST_90",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul20_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul21" : {
      "post" : {
        "operationId" : "mul21_POST_91",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul21_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul22" : {
      "post" : {
        "operationId" : "mul22_POST_92",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul22_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul23" : {
      "post" : {
        "operationId" : "mul23_POST_93",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul23_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul24" : {
      "post" : {
        "operationId" : "mul24_POST_94",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul24_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul25" : {
      "post" : {
        "operationId" : "mul25_POST_95",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul25_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul26" : {
      "post" : {
        "operationId" : "mul26_POST_96",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul26_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul27" : {
      "post" : {
        "operationId" : "mul27_POST_97",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul27_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul28" : {
      "post" : {
        "operationId" : "mul28_POST_98",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul28_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul29" : {
      "post" : {
        "operationId" : "mul29_POST_99",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul29_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul30" : {
      "post" : {
        "operationId" : "mul30_POST_100",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul30_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul31" : {
      "post" : {
        "operationId" : "mul31_POST_101",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul31_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul32" : {
      "post" : {
        "operationId" : "mul32_POST_102",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul32_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul33" : {
      "post" : {
        "operationId" : "mul33_POST_103",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul33_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul34" : {
      "post" : {
        "operationId" : "mul34_POST_104",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul34_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul35" : {
      "post" : {
        "operationId" : "mul35_POST_105",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul35_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul36" : {
      "post" : {
        "operationId" : "mul36_POST_106",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul36_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul37" : {
      "post" : {
        "operationId" : "mul37_POST_107",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul37_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul38" : {
      "post" : {
        "operationId" : "mul38_POST_108",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul38_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul39" : {
      "post" : {
        "operationId" : "mul39_POST_109",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul39_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul40" : {
      "post" : {
        "operationId" : "mul40_POST_110",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul40_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul41" : {
      "post" : {
        "operationId" : "mul41_POST_111",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul41_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul42" : {
      "post" : {
        "operationId" : "mul42_POST_112",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul42_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul43" : {
      "post" : {
        "operationId" : "mul43_POST_113",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul43_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul44" : {
      "post" : {
        "operationId" : "mul44_POST_114",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul44_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul45" : {
      "post" : {
        "operationId" : "mul45_POST_115",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul45_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul46" : {
      "post" : {
        "operationId" : "mul46_POST_116",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul46_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul47" : {
      "post" : {
        "operationId" : "mul47_POST_117",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul47_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul48" : {
      "post" : {
        "operationId" : "mul48_POST_118",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul48_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul49" : {
      "post" : {
        "operationId" : "mul49_POST_119",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul49_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul50" : {
      "post" : {
        "operationId" : "mul50_POST_120",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul50_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul51" : {
      "post" : {
        "operationId" : "mul51_POST_121",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul51_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul52" : {
      "post" : {
        "operationId" : "mul52_POST_122",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul52_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul53" : {
      "post" : {
        "operationId" : "mul53_POST_123",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul53_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul54" : {
      "post" : {
        "operationId" : "mul54_POST_124",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul54_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul55" : {
      "post" : {
        "operationId" : "mul55_POST_125",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul55_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul56" : {
      "post" : {
        "operationId" : "mul56_POST_126",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul56_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul57" : {
      "post" : {
        "operationId" : "mul57_POST_127",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul57_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul58" : {
      "post" : {
        "operationId" : "mul58_POST_128",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
          "_basicAuth" : [ ]
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "schema" : {
              "$ref" : "#/definitions/mul58_POST_response_1"
            }
          },
          "401" : {
            "description" : "Access Denied"
          }
        }
      }
    },
    "/mul59" : {
      "post" : {
        "operationId" : "mul59_POST_129",
        "consumes" : [ "application/x-www-form-urlencoded" ],
        "parameters" : [ {
          "name" : "Num1",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        }, {
          "name" : "Num2",
          "in" : "formData",
          "required" : true,
          "type" : "string"
        } ],
        "security" : [ {
[...]
